.button{
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; 
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    outline: 0;
    margin-right: 20px;
    &:focus,
    &:hover{
        opacity: 0.9;
    }
    &:active{
        opacity: 0.5;
    }
    &:disabled{
        filter: grayscale(1);
    }
}

.error{
    background-color: #f44336;
}

.success{
    background-color: #4CAF50;
}

.gradient{
    background: #FEAC5E; 
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); 
}

.primary{
    background-color: #007bff;
}

